<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jinch.FindMe.Mapper.MainDAO">

	<select id="login" parameterType="jinch.FindMe.DTO.MainDTO" resultType="java.lang.String">
		select
			grade
		from
			tbl_user_info
		where 1=1
			and userId = #{userId}
			and userPw = #{userPw}
	</select>

	<select id="createFeedId" resultType="java.lang.String">
		select
			lpad(coalesce(max(feedid),'0')+1,5,'0') as feedid
		from
			tbl_sns_feed
	</select>

	<select id="selectFeedList" resultType="jinch.FindMe.DTO.MainDTO">
		select
			 feedid
			,writerid
			,text
			,image
			,showyn
			,showlevel
			,answer
		from
			tbl_sns_feed
		where 1=1
			and showyn = 'Y'
		order by showlevel desc,feedid desc
	</select>

	<insert id="uploadFeed" parameterType="jinch.FindMe.DTO.MainDTO">
		insert into	tbl_sns_feed(
			 feedid
			,writerid
			,text
			,image
			,showyn
			,showlevel
			,answer
		)values(
			 #{feedId}
			,#{writerId}
			,#{text}
			,#{image}
			,#{showYN}
			,#{showLevel}
			,#{answer}
		)
	</insert>

	<update id="updateShowLevel" parameterType="jinch.FindMe.DTO.MainDTO">
		update tbl_sns_feed
		set
			showyn = 'Y'
		where showlevel = #{showLevel}
	</update>

	<delete id="deleteFeed" parameterType="jinch.FindMe.DTO.MainDTO">
		delete from
			tbl_sns_feed
		where 1=1
			and feedId = #{feedId}
	</delete>
</mapper>